<div class="container bg-light py-5 mt-4">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="fs-4 col-md-8">This quiz contains total 9 questions. Each question holds 10 Points.</p>
    <h4>Rules :</h4>
    <ol>
        <li>Correct answer gives you 10 points.</li>
        <li>Incorrect answer gives you -10 Points.</li>
        <li>You will have 60 sec to answer each question.</li>
        <li>Refereshing the page will rest the Quiz.</li>
    </ol>
    <h1 style="font-family: cursive; text-align: center">All the Best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="fname">Enter Your Name :</label>
        <input #name id="fname" type="text" class="form-control">
    </div>
    <button class="btn btn-lg btn-primary" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button>
</div>